<footer class="page-footer">
         <div class="container">
           <div class="row">
             <div class="col l4 s12">
               <h5 class="white-text brand-footer"><a href="/">Cocina Judía</a></h5>
             </div>
             <div class="col l4  s12">
               <h5 class="white-text">Nuestras redes</h5>
               <ul>
                 <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                 <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                 <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
               </ul>
             </div>
             <div class="col l4 s12">
               <h5 class="white-text">Conocenos</h5>
               <ul>
                 <li><a class="grey-text text-lighten-3" href="#!">Sobre nosotros</a></li>
                 <li><a class="grey-text text-lighten-3" href="#!">Contacto</a></li>
               </ul>
             </div>
           </div>
         </div>

         <div class="footer-copyright">
           <div class="container center-align">
           © 2021 Cocina Judía
           </div>
         </div>
       </footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- AOS JS -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


<script src="../index.js" charset="utf-8"></script>
</body>

</html>
