<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <!-- BOOTSTRAP CDN -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

<!-- AOS CDN -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" >
  <!-- Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- SLIDER MDN -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Pacifico&display=swap" rel="stylesheet">

  <!-- My CSS -->
  <link rel="stylesheet" href="/css/styles.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cocina Judía</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper blue-grey darken-1">
      <a href="/" class="brand-logo">Cocina Judía</a>
      <a href="#" data-target="mobile-navbar" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/log-in">Iniciar sesión</a></li>
        <li><a href="/register">Registrarse</a></li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-navbar">
    <li><a href="/log-in">Iniciar sesión</a></li>
    <li><a href="/register">Registrarse</a></li>
  </ul>

  <nav class="search-bar">
    <div class="nav-wrapper white">
      <form action="/results" method="post">
        <div class="input-field">
          <input id="search" type="search" name="searchQuery" placeholder="¿Qué vas a cocinar hoy?" required>
          <label class="label-icon" for="search"><i class="material-icons blue-grey-text text-darken-1">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
