<%- include("partials/header"); -%>



  <section id="categories">
    <div class="categories-container justify-content-between">
      <div class="row">

        <div class="col s6 l4 category-container waves-effect waves-light" data-aos="zoom-in"><a href="/results/sefaradi">
            <img class="category-img circle" src="https://i.imgur.com/b3OwlYD.jpg" alt="sefaradi-img">
            <p class="category-name">SEFARADI</p>
          </a></div>
        <div class="col s6 l4 category-container waves-effect waves-light" data-aos="zoom-in"><a href="/results/platos-fuertes">
            <img class="category-img circle" src="https://i.imgur.com/koJKOSI.jpg" alt="platos-fuertes-img">
            <p class="category-name">PLATOS FUERTES</p>
          </a></div>
        <div class="col s6 l4 category-container waves-effect waves-light" data-aos="zoom-in"><a href="/results/entradas">
            <img class="category-img circle" src="https://i.imgur.com/T0vdNQP.jpg" alt="entradas-img">
            <p class="category-name">ENTRADAS</p>
          </a></div>
        <div class="col s6 l4 category-container waves-effect waves-light" data-aos="zoom-in"><a href="/results/ashkenazi">
            <img class="category-img circle" src="https://i.imgur.com/LKJcYRt.jpg" alt="ashkenazi-img">
            <p class="category-name">ASHKENAZI</p>
          </a></div>
        <div class="col s6 l4 category-container waves-effect waves-light" data-aos="zoom-in"><a href="/results/dulce">
            <img class="category-img circle" src="https://i.imgur.com/HImtTOF.jpg" alt="dulce-img">
            <p class="category-name">DULCE</p>
          </a></div>
        <div class="col s6 l4 category-container waves-effect waves-light" data-aos="zoom-in"><a href="/results/shabat">
            <img class="category-img circle" src="https://i.imgur.com/rsMt0IM.jpg" alt="shabat-img">
            <p class="category-name">SHABAT</p>
          </a></div>

      </div>
    </div>
  </section>
<!--
  <section id="top-5-week">
<h4 class="center-align">Top 5 Semanal</h4>

    <div class="swiper-container">

      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/rsMt0IM.jpg">
              <span class="card-title"><i class="material-icons">star star star star star_half</i></span>
            </div>
            <div class="card-content">
              <p><strong>Kippe al horno</strong></p>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/rsMt0IM.jpg">
              <span class="card-title"><i class="material-icons">star star star star star_half</i></span>
            </div>
            <div class="card-content">
              <p><strong>Kippe al horno</strong></p>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/rsMt0IM.jpg">
              <span class="card-title"><i class="material-icons">star star star star star_half</i></span>
            </div>
            <div class="card-content">
              <p><strong>Kippe al horno</strong></p>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/rsMt0IM.jpg">
              <span class="card-title"><i class="material-icons">star star star star star_half</i></span>
            </div>
            <div class="card-content">
              <p><strong>Kippe al horno</strong></p>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/rsMt0IM.jpg">
              <span class="card-title"><i class="material-icons">star star star star star_half</i></span>
            </div>
            <div class="card-content">
              <p><strong>Kippe al horno</strong></p>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
          </div>
        </div>

      </div>


      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

    </div>

  </section>

  <section id="top-5-all-time">
  <h4 class="center-align">Top 5 Histórico</h4>

    <div class="swiper-container">

      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/koJKOSI.jpg">
              <span class="card-title"><i class="material-icons">star star star star star_half</i></span>
            </div>
            <div class="card-content">
              <p><strong>Kippe al horno</strong></p>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/koJKOSI.jpg">
              <span class="card-title"><i class="material-icons">star star star star star_half</i></span>
            </div>
            <div class="card-content">
              <p><strong>Kippe al horno</strong></p>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/koJKOSI.jpg">
              <span class="card-title"><i class="material-icons">star star star star star_half</i></span>
            </div>
            <div class="card-content">
              <p><strong>Kippe al horno</strong></p>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/koJKOSI.jpg">
              <span class="card-title"><i class="material-icons">star star star star star_half</i></span>
            </div>
            <div class="card-content">
              <p><strong>Kippe al horno</strong></p>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card">
            <div class="card-image">
              <img src="https://i.imgur.com/koJKOSI.jpg">
              <span class="card-title"><i class="material-icons">star star star star star_half</i></span>
            </div>
            <div class="card-content">
              <p><strong>Kippe al horno</strong></p>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
          </div>
        </div>

      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

  </section> -->

  <%- include("partials/footer"); -%>
