<%- include("partials/header"); -%>

<h1>Categoría: <%=categoryName%></h1>


<!-- <a class='dropdown-trigger btn' href='#' data-target='category-dropdown'>Categoría
  <span class="material-icons drop-down-icon">expand_more</span>
</a>

<ul id='category-dropdown' class='dropdown-content'>
  <li><a href="#!">Sefaradi</a></li>
  <li><a href="#!">Platos fuertes</a></li>
  <li><a href="#!">Entradas</a></li>
  <li><a href="#!">Ashkenazi</a></li>
  <li><a href="#!">Dulce</a></li>
  <li><a href="#!">Shabat</a></li>
</ul> -->


<%- include("partials/footer"); -%>
