body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

section {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

/* NAVBAR - TOP SECTION */
.brand-logo {
  font-family: 'Pacifico', cursive;
  padding-left: 20px;
}

nav {
  background-color: #546e7a;
}

/******************************** MAIN PAGE ********************************/
/* CATEGORIES SECTION */
.category-container {
  text-align: center;
  margin-top: 10px;
}

.category-img {
  width: 100%;
  display: block;
  margin: auto;
  max-width: 200px;
}

.category-name {
  text-align: center;
  padding-top: 10px;
}

#categories p {
  color: #546e7a;
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 10px 0;
  font-size: 1.25rem;
}

#categories p:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 50%;
  height: 3px;
  background-color: #546e7a;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s;
}

#categories p:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 50%;
  height: 3px;
  background-color: #546e7a;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}

#categories p:hover::before {
  transform: scaleX(1);
}

#categories p:hover::after {
  transform: scaleX(1);
}

/* Swiper */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 14px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* Titles */
h3 {
  font-weight: bold;
  color: #546e7a;
}

/* Cards in Swiper */
.card {
  height: 400px;
  text-align: left;
}

.card-title {
  padding: 4px 14px !important;
}

.card-content {
  padding-bottom: 0 !important;
}

.card-image img {
  object-fit: cover;
  height: 200px;
}

/* Footer Section */
.page-footer {
  background-color: #546e7a;
}

.brand-footer a {
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  color: #FFF;
}

/******************************** CONTACT PAGE ********************************/
.contact-section {
  padding-bottom: 3rem;
}

.submit {
  margin-top: 25px;
}

input, label, option {
  font-family: 'Montserrat', sans-serif;
}

/******************************** RESULTS PAGE ********************************/
#results-section .card {
  min-width: 220px;
  max-width: 500px;
  position: relative;
  margin: .5rem auto 1rem;
}
#results-section a {
  text-decoration: none;
  color: inherit;
}



/* MEDIA QUERIES */
/*DESKTOP*/
@media (min-width: 992px) {
  .brand-logo {
    padding-left: 15px !important;
  }
  #results-section .card {
    min-width: 288px;
  }
}

/******************************** NEW RECIPE PAGE ********************************/
.porciones_container {
  margin-top: 0;
}

#instrucciones, #ingredientes {
  min-height: 65px;
}

.new-recipe-section p {
  margin-bottom: 0;
}

.new-recipe-section .sub-title {
  margin-bottom: 1.75rem;
}

.aditional-info-title {
  font-size: 2rem;
}

.aditional-info-title.primary-title {
  margin-top: 0;
}

div h3 {
  /* padding-top: 1rem; */
}

.secondary-title {
  font-size: 100%;
}

button.submit {
  margin-top: 0;
  width: 10rem;
}

/******************************** RECIPE PAGE ********************************/
.recipe-section h4 {
  color: #546e7a;
}

.recipe-section .ingredient-item {
  color: rgba(0, 0, 0, 0.87);
}

.recipe-section .circle-number {
  background-color: #546e7a;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  display: inline-block;
  position: absolute;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently upported by Chrome, Edge, Opera and Firefox */
}

.recipe-section .recipe-instruction {
  margin-left: 35px;
  margin-top: 0;
  margin-bottom: 2rem;
  /* margin: 0 35px auto 2rem; */
}

.recipe-section .instruction-container {
margin-top: 2rem;
}

/* ON MOBILE */
@media (max-width: 450px) {
  #descripcion_receta {
    min-height: 65px;
  }

  section {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  h3.new-recipe-title {
    font-size: 2.7rem;
  }
}
